* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* top navigation bar */

header {
    width: 100%;
    height: 10vh;
    display: block;
    background-color: #FFA000;
}

.inside_header {
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #FFA000;
}

/* left side of navigation bar */

.logo {
    height: 100%;
    float: left;
}

.logo h1 {
    color: #FFF8F0;
    height: 100%;
    text-transform: uppercase;
    line-height: 10vh;
}

/* right side of navigation bar*/

.navigation {
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    float: left;
    padding: 0px 2rem;
}

.navigation a li {
    color: #FFF8F0;
    line-height: 10vh;
    font-size: 1.2rem;
    text-transform: uppercase;
    
}

.navigation a li:hover {
    text-decoration: underline;
}

/* main image */

#hero_image {
    height: 90vh;
    width: 100%;
    background: url(../images/hero-image2-min.jpg) no-repeat center center;
}

/* footer */

footer {
    height: 5rem;
    width: 100%;
    background-color: #FFA000;
}
/*
.inside_footer {
    height: 100%;
    width: 70%;
    display: block;
    margin: 0 auto;
    background-color: #FFA000;
} */

.footer_list {
    height: 100%;
    text-align: center;
}

.footer_list li {
    display: inline;
}

.footer_list li i {
    font-size: 2rem;
    padding: 0px 3rem;
    color: #FFF8F0;
    line-height: 5rem;
}

/* gallery */

.gallery_h2 {
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
    padding-bottom: 0;
}

#images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#images-container img {
    padding: 0.3rem;
    max-width: 500px;
}

/* contact form */

.form_section {
    background: url(../images/hero_image_cp2-unsplash-min.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
}

.contact_form {
    color: #fff;
    background-color: rgba(173,138,103,0.7);
    max-width: 16rem;
    padding: 4rem;
    border-radius: 0.3rem;
}

.contact_form > h2 {
    color: #fafafa;
    margin-bottom: 2rem;
}

.text_input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 2rem;
    margin: 0.5rem 0 0.8rem 0;
    border: 0.125rem solid #fafafa;
    border-radius: 0.125rem;
}

.text_input:hover {
    border-color: #FFA000;
}

.submit_button {
    margin-top: 1.5rem;
    border-radius: 0.3rem;
    padding: 1rem 2rem 1rem 2rem;
    text-align: center;
    font-size: 100%;
    background-color: #FFA000;
    color: #FFF8F0;
    display: block;
}

.submit_button:hover {
    background-color: #FFF8F0;
    color: #FFA000;
}